/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --text-color: rgb(241, 178, 206);
  --bg-image: url("../images/cover-image-dark.png");
  --accent-color: rgb(255, 0, 112);
  --text-color-accent: rgb(219, 0, 255);
  --bg-color: rgb(0, 0, 40);
  --display-header-decor: inline-flex;
  --accent-color-opacity: rgba(255, 0, 112, 0.4);
}