/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --main-font: "IBM Plex mono", monospace;
  --transition-duration: 0.3s;

  --bg-color: rgb(53, 52, 48);
  --bg-image: url("../images/cover-image-light.png");  

  --text-color: rgb(53, 52, 48);
  --heading-color: rgb(255, 194, 230);
  --subtitle-color: rgb(53, 52, 48);

  --accent-color: rgb(255, 141, 203);
  --accent-color-opacity: rgba(255, 141, 203, 0.4);
  --accent-color-btn: rgb(255, 141, 203);

  --text-color-accent: rgb(255, 0, 112);
}

@media (prefers-color-scheme: light) {
  :root {
  --main-font: "IBM Plex mono", monospace;
  --transition-duration: 0.3s;

  --bg-color: rgb(53, 52, 48);
  --bg-image: url("../images/cover-image-light.png");  

  --text-color: rgb(53, 52, 48);
  --heading-color: rgb(255, 141, 203);
  --subtitle-color: rgb(53, 52, 48);

  --accent-color: rgb(255, 141, 203);
  --accent-color-opacity: rgba(255, 141, 203, 0.4);
  --accent-color-btn: rgb(255, 141, 203);

  --text-color-accent: rgb(255, 0, 112);
  }
}

@media (max-width: 1023px) {
  .header__title {
    text-shadow: 4px 4px 0 var(--accent-color-title);
  }

  .footer__title {
    text-shadow: 2px 2px 0 var(--accent-color-title);
  }
}