/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
background-color: var(--bg-color);
background-image: var(--bg-image);
background-size: cover;
background-attachment: fixed;
background-position: center;
font-family: var(--main-font), monospace;
}

/* HEADER */

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px 10px;
  block-size: max(100vh, 668px);
  align-items: center;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-inline-end: 1px var(--accent-color) solid;
  border-block-start: 1px var(--accent-color) solid;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-inline-start: 1px var(--accent-color) solid;
  border-block-end: 1px var(--accent-color) solid;
  width: 25px;
  height: 25px;
  bottom: 10px;
  left: 10px
}

.decor {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--accent-color);
}

.decor::after {
  content: "";
  display: block;
  position: absolute;
  right: -19px;
  top: 8px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  min-height: 9px;
  min-width: 9px;
}

.header__theme-menu {
  justify-self: right;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  }

.header__theme-menu-button {
  appearance: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-transform: lowercase;
  color: var(--accent-color);
  background: transparent;
  border: transparent 1px solid;
  min-width: 70px;
  padding: 1px 0 4px;
  cursor: pointer;
}

.header__title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
font-weight: 700;
font-size: 18px;
color: var(--accent-text-color);
line-height: 23.4px;
}

.title-decor {
  background-color: var(--accent-color);
}


/* BUTTONS */

.header__theme-menu-button:hover {
  outline: var(--accent-color-opacity) 1px solid;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: var(--accent-color) 1px solid;

}

.header__theme-menu-button_active {
  border: var(--accent-color) 1px solid;
  pointer-events: none;
}

/* CONTENT */

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px 10px 0;
}

.content__section {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.content__section-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--accent-color);
}

.content__section-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--accent-text-color);
}

.article__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
  padding-block-start: 10px;
}

.article__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--accent-text-color);
}

/* GALLERY */

.section__gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-block-end: 40px;
}

.section__gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--accent-text-color);
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

/* LINKS */

.links {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.links:hover {
  outline: none;
  box-shadow: 0 1px 0 0  var(--text-color);
}

.links:focus {
  outline: none;
}

.links:focus-visible {
  outline: var(--text-color) solid 1px;
}

/* FOOTER */

.footer {
  display: grid;
  block-size: max(100vh, 668px);
  align-items: center;
  justify-content: center;

}

.footer__title {
  align-self: center;
  color: var(--title-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--accent-color);
}


@media (width >= 768px) {
  .header {
    padding: 20px 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .decor {
    top: 20px;
    right: 48px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }

  .header__text {
    width: max(calc(50vw - 40px), 364px);
    justify-self: right;
  }

  .main {
    padding: 60px 20px 0;
    gap: 80px;
  }

  .content__section-partial {
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .content__section-full {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .content__section-full-container {
    grid-column: 1 / span 3;
  }

  .section__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-block-end: 60px;
  }

  .section__gallery-title {
    grid-column: 1 / span 3;
  }

  .gallery__image-sunset {
    grid-column: 1 / 3;
  }

  .gallery__image-ice-cream {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .gallery__image-tape {
    grid-row: 3 / 5;
  }

  .gallery__image-street {
    grid-column: 2 / 4;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .header__text {
    width: max(calc(50vw - 42px), 491px);
  }

  .content__section-partial {
    column-gap: 10px;
  }

  .content__section-full-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
