/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font: "IBM Plex mono", monospace;
  --heading-text: rgb(219, 0, 255);
  --text-color: rgb(241, 178, 206);
  --bg-image:url("../images/cover-image-dark.png");
  --accent-color: rgb(255, 0, 112);
  --bg-color: rgb(0, 0, 40);
  --title-color: rgb(219, 0, 255);
  --subtitle-color: rgb(0, 0, 40);
  --accent-color-opacity: rgba(255, 0, 112, 0.4);

}
